In [1]:
import csv
import pandas as pd
import numpy as np
import sqlite3
df1 = pd.read_csv("C:/Users/fbdus/cp1/데이터/1일 평균방문객.csv")
df1

,특성별(1),특성별(2),특성별(3),특성별(4),방문고객및배달테이크아웃수별(1),방문고객및배달테이크아웃수별(2),시점,원데이터,전년 대비 증감,증감률
0,전체,소계,소계,소계,방문 고객수,20명 미만 (%),2021,29.0,2.0,7.4
1,전체,소계,소계,소계,방문 고객수,20~30명 미만 (%),2021,14.7,-0.2,-1.3
2,전체,소계,소계,소계,방문 고객수,30~50명 미만 (%),2021,26.9,3.5,15.0
3,전체,소계,소계,소계,방문 고객수,50~100명 미만 (%),2021,21.0,-3.5,-14.3
4,전체,소계,소계,소계,방문 고객수,100명 이상 (%),2021,8.4,-1.9,-18.4
...,...,...,...,...,...,...,...,...,...,...
573,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,10~20인분 미만 (%),2021,6.4,-6.2,-49.2
574,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,20~30인분 미만 (%),2021,11.1,5.5,98.2
575,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,30~50인분 미만 (%),2021,12.6,8.2,186.4
576,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,50인분 이상 (%),2021,19.4,7.8,67.2
577,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,평균 (인분),2021,37.6,13.7,57.3

In [2]:
df1 = df1.fillna(0)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   특성별(1)             578 non-null    object
 1   특성별(2)             578 non-null    object
 2   특성별(3)             578 non-null    object
 3   특성별(4)             578 non-null    object
 4   방문고객및배달테이크아웃수별(1)  578 non-null    object
 5   방문고객및배달테이크아웃수별(2)  578 non-null    object
 6   시점                 578 non-null    int64
 7   원데이터               578 non-null    float64
 8   전년 대비 증감           578 non-null    float64
 9   증감률                578 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 45.3+ KB

In [4]:
#db로 연결하기위해서 첫번째 과정
connection1 = sqlite3.connect('oneday.db')#oneday.db가 없으면 새로 생성, 있으면 연결
#df1을 db로 연결하기
df1.to_sql('oneday_mean',connection1,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection1.commit()#commit하기
connection1.close()#close하기기

In [5]:
connection1 = sqlite3.connect('oneday.db')
df11 = pd.read_sql("SELECT * FROM oneday_mean;",connection1)
connection1.commit()
connection1.close()

In [6]:
df11

,특성별(1),특성별(2),특성별(3),특성별(4),방문고객및배달테이크아웃수별(1),방문고객및배달테이크아웃수별(2),시점,원데이터,전년 대비 증감,증감률
0,전체,소계,소계,소계,방문 고객수,20명 미만 (%),2021,29.0,2.0,7.4
1,전체,소계,소계,소계,방문 고객수,20~30명 미만 (%),2021,14.7,-0.2,-1.3
2,전체,소계,소계,소계,방문 고객수,30~50명 미만 (%),2021,26.9,3.5,15.0
3,전체,소계,소계,소계,방문 고객수,50~100명 미만 (%),2021,21.0,-3.5,-14.3
4,전체,소계,소계,소계,방문 고객수,100명 이상 (%),2021,8.4,-1.9,-18.4
...,...,...,...,...,...,...,...,...,...,...
573,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,10~20인분 미만 (%),2021,6.4,-6.2,-49.2
574,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,20~30인분 미만 (%),2021,11.1,5.5,98.2
575,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,30~50인분 미만 (%),2021,12.6,8.2,186.4
576,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,50인분 이상 (%),2021,19.4,7.8,67.2
577,매출액규모별,5억원 이상,소계,소계,테이크아웃 수,평균 (인분),2021,37.6,13.7,57.3

In [7]:
df2 = pd.read_csv("C:/Users/fbdus/cp1/데이터/1일 평균방문객.csv")
df3 = pd.read_csv("C:/Users/fbdus/cp1/데이터/매출액.csv")
df4 = pd.read_csv("C:/Users/fbdus/cp1/데이터/사업장 크기.csv")
df5 = pd.read_csv("C:/Users/fbdus/cp1/데이터/운영형태.csv")
df6 = pd.read_csv("C:/Users/fbdus/cp1/데이터/음식점 업종별.csv")
df7 = pd.read_csv("C:/Users/fbdus/cp1/데이터/평균 영업시간.csv")

In [8]:
df2 = df2.fillna(0)
df3 = df3.fillna(0)
df4 = df4.fillna(0)
df5 = df5.fillna(0)
df6 = df6.fillna(0)
df7 = df7.fillna(0)

In [9]:
connection2 = sqlite3.connect('sales.db')
connection3 = sqlite3.connect('establishment_size.db')
connection4 = sqlite3.connect('operation_type.db')
connection5 = sqlite3.connect('food_kind.db')
connection6 = sqlite3.connect('customer_stauts.db')
connection7 = sqlite3.connect('business_hours.db')

In [10]:
df2.to_sql('sale',connection2,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection2.commit()#commit하기
connection2.close()#close하기기
df3.to_sql('size',connection3,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection3.commit()#commit하기
connection3.close()#close하기기  
df4.to_sql('type',connection4,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection4.commit()#commit하기
connection4.close()#close하기기  
df5.to_sql('food',connection5,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection5.commit()#commit하기
connection5.close()#close하기기  
df6.to_sql('customer',connection6,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection6.commit()#commit하기
connection6.close()#close하기기  
df7.to_sql('hours',connection7,if_exists='replace',index=False) # append값 추가가능 기본적으로 fail
connection7.commit()#commit하기
connection7.close()#close하기기

In [12]:
connection2 = sqlite3.connect('sales.db')
df22 = pd.read_sql("SELECT * FROM sale;",connection2)
connection2.commit()
connection2.close()

connection3 = sqlite3.connect('establishment_size.db')
df33 = pd.read_sql("SELECT * FROM size;",connection3)
connection3.commit()
connection3.close() 

connection4 = sqlite3.connect('operation_type.db')
df44 = pd.read_sql("SELECT * FROM type;",connection4)
connection4.commit()
connection4.close()

connection5 = sqlite3.connect('food_kind.db')
df55 = pd.read_sql("SELECT * FROM food;",connection5)
connection5.commit()
connection5.close() 

connection6 = sqlite3.connect('customer_stauts.db')
df66 = pd.read_sql("SELECT * FROM customer;",connection6)
connection6.commit()
connection6.close() 

connection7 = sqlite3.connect('business_hours.db')
df77 = pd.read_sql("SELECT * FROM hours;",connection7)
connection7.commit()
connection7.close()